@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-gray-100 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}

#root {
  min-height: 100vh;
}
